* {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0, "CRSV" 0, "SHRP" 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  margin: 0;
  padding: 0;
  height: 100vh;

  background-image: url(https://cdn.wallpapersafari.com/70/25/H6lJk1.jpg);
}

/* Spacers */

.spacer {
  height: 2rem;
}

/* Estructura del header */

header,
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: black;
  /* box-shadow: 0 2px 5px rgba(0, 0, 2, 0.3); */
  position: fixed;
  top: 0;

  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid;
  border-color: goldenrod;
  box-shadow: 0 5px 10px goldenrod;

  width: 100%;
  height: 3%;

  margin-right: 10px;
}

/* Botones del header */

.nav {
  display: flex;
  margin-left: auto;
  gap: 1rem;
}

/* Boton del header */

.header-button {
  display: flex;
  background: goldenrod;
  padding: 10px;
  border-radius: 15px;

  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0, "CRSV" 0, "SHRP" 0;

  text-decoration: none;
  color: black;
}

.header-button:hover {
  background-color: #a17621;
  transition: 0.3s;
  cursor: pointer;
}

/* Contenedor para la pantalla de registro */

.registro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);

  border: 2px solid goldenrod;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 5, 0.5);

  margin-left: auto;
  margin-right: auto;
  padding: 2rem 2.5rem;

  height: 38rem;
  width: 22rem;
  gap: 1rem;
}

/* Campos de login/registro */

.campo-texto {
  display: flex;

  background-color: black;

  color: goldenrod; 
  box-shadow: 0 2px 5px black;

  border: 2px solid goldenrod;
  border-radius: 10px;

  height: 2rem;
  width: 20rem;
}

.campo-texto-label {
  color: goldenrod;
  font-size: 1.3rem;
  text-shadow: 0 2px 5px black;
}

.boton-registrarse {
  display: flex;
  background: black;

  margin-top: 1rem;
  
  height: 3rem;
  width: 10rem;

}
